body {
    background-color: #89c4a7;
    /* Background color */
    font-family: Arial, sans-serif;
}

h1 {
    color: #4a90e2;
    /* Text color */
    text-align: center;
}

#inventoryForm {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #4a90e2;
    /* Input field border color */
    border-radius: 4px;
}

button {
    background-color: #4a90e2;
    /* Button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #356b9c;
    /* Button color on hover */
}

h2 {
    color: #4a90e2;
    /* Text color */
}

#inventoryList {
    list-style-type: none;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
}

/*==================================*/
/* Style for the sticky header */
#sticky-header {
    position: fixed;
    top: 0;
    right: 0;
    /* Changed from "left: 0" to position it at the top right */
    background-color: #333;
    padding: 10px 0;
    z-index: 100;
}

#sticky-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#sticky-header li {
    display: inline;
    margin: 0 20px;
}

#sticky-header a {
    text-decoration: none;
    color: #fff;
}

.content {
    /* Add some padding or margin to push down the content
       so it's not covered by the sticky header. */
    margin-top: 60px;
}